.filter-container {
	.icon {
        position: absolute;
        top: 66px;
        right: 9px;
	}
	.active {
		background: white;
		width: 300px;
		position: absolute;
		display: block;
		top: 62px;
		right: 0;
		height: calc(100vh - 62px);
		.header-title {
			padding: 5px 7px;
			font-size: 16px;
			color: #2a69ac;
			border-bottom: 3px solid #2a69ac;
		}
	}
}
