.layer-container {
	position: absolute;
	display: block;
	bottom: 40px;
	right: 10px;
	background: #fff;
	border-radius: 3px;
	.layer-stack {
		max-height: 450px;
		overflow-y: scroll;
		.layer-item:not(:last-child) {
			border-bottom: 1px solid #dedede;
		}
	}
	.layer-loading-stack {
		.layer-item {
			border-bottom: 1px solid #dedede;
		}
	}
	.legend {
		padding: 10px 5px;
		margin: 10px 0;
		background: #7f7e7e12;
		border-radius: 5px;
		.palette {
			height: 6px;
		}
	}
	.filter-btn-active {
		padding: 5px;
		background: #e4e4e4;
		border-radius: 3px 3px 0 0;
	}
}

.layer-close {
	position: relative;
	top: -27px;
	background: #ffffffba;
	padding: 6px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	width: fit-content;
}
