.layer-container {
	width: 400px;
	position: absolute;
	display: block;
	bottom: 40px;
	right: 10px;
	background: #fff;
	border-radius: 3px;
}

.layer-close {
	position: relative;
	top: -27px;
	background: #ffffffba;
	padding: 6px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	width: fit-content;
}
