.hero {
  background-color: #014491;
  color: #fff;
  padding: 40px 20px;
  .title a {
    text-decoration: none;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    color: #000;
    text-decoration: none;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .title,
  .description {
    text-align: center;
  }

  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }
}
.link-box-home {
  border-radius: 6px;
  padding: 15px;
  border: 1px solid #014491;
  font-size: 14px;
  cursor: pointer;
  .box-header-title {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 6px;
    min-height: 70px;
  }
  a {
    margin-top: 5px;
    &:hover {
      text-decoration: none;
    }
  }
  .link-text {
    margin-top: 1rem;
    color: #000;
  }
  p {
    margin-bottom: 12px;
    font-weight: 300;
    &:first-child {
      font-weight: bold;
      color: #014491;
    }
    &:last-child {
      font-weight: bold;
      color: #014491;
    }
  }
}
footer {
  .home-footer {
    background: #014491;
    padding: 4rem 1rem;
    color: #fff;
    margin-top: 5rem;
    font-weight: 300;
  }
}
